<main>

  <mat-toolbar class="firstToolbar">
    <div class="logo">
      <a [routerLink]="['/']">
        <img src="assets/images/sitelogo.png" alt="">
      </a>
    </div>
    <!-- <div class="search ml-3">
      <input type="text" placeholder="Search items..." [(ngModel)]="term" (keyup)="ShowSearchResult($event)">
      <button mat-icon-button *ngIf="showSearchData" (click)="clearSearch()">
        <mat-icon>
          <fa-icon [icon]="faTimes"></fa-icon>
        </mat-icon>
      </button>
    </div> -->

    <div class="actions ml-3">

      <button>
        <mat-icon matBadge="0" matBadgePosition="after" matBadgeColor="warn">
          <fa-icon [icon]="faShoppingCart"></fa-icon>
        </mat-icon>
      </button>

      <button class="ml-3">
        <a  [routerLink]="['/login']">
          <!-- <a href="/login"> -->
          <mat-icon>
            <fa-icon [icon]="faUser"></fa-icon>
          </mat-icon>
        </a>
      </button>

      <button class="ml-3 open-menu" (click)="openMenu()">
        <mat-icon>
          <fa-icon *ngIf="showIcon" [icon]="faBars"></fa-icon>
          <fa-icon *ngIf="!showIcon" [icon]="faTimes"></fa-icon>
        </mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <!-- secondary search bar -->
  <!-- <div class="secondarySearchContainer">
    <div class="secondary-search w-100">
      <input type="text" placeholder="Search items..." (keyup)="ShowSearchResult($event)" [(ngModel)]="term">
      <button mat-icon-button *ngIf="showSearchData" (click)="clearSearch()">
        <mat-icon>
          <fa-icon [icon]="faTimes"></fa-icon>
        </mat-icon>
      </button>
    </div>
  </div> -->


  <!-- Showing search result -->

  <!-- <div class="text-center search-data position-fixed" *ngIf="showSearchData">
    <mat-card class="text-left" *ngFor="let searchItem of searchedItems" routerLink="[/about]">
      <p>
        <img [src]="searchItem.image" [alt]="searchItem.name" class=" search-image img-fluid">
        <span class="search-text ml-5"> {{searchItem.name}} </span>
      </p>

    </mat-card>
  </div> -->


  <!-- Main nav bar -->

  <div class="text-left w-100 m-auto secondToolbar">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm" *ngFor="let navLink of navLinks">
          <a [routerLink]="[navLink.routerLink]"> {{navLink.navLikLabel}} </a>
        </div>
      </div>
    </div>
  </div>

  <div class="text-left w-100 m-auto thirdToolbar" *ngIf="showCollapseMenu">
    <div class="container-fluid text-left">
      <div class="row">
        <div class="col-sm" *ngFor="let navLink of navLinks">
          <a [routerLink]="[navLink.routerLink]"> {{navLink.navLikLabel}} </a>
        </div>
      </div>
    </div>
  </div>

  <!-- <app-userchat></app-userchat> -->




</main>
<ng-content></ng-content>
